@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #7987a1;
  --bs-gray-dark: #212a3a;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #cbd1db;
  --bs-gray-500: #aeb7c5;
  --bs-gray-600: #7987a1;
  --bs-gray-700: #41516c;
  --bs-gray-800: #212a3a;
  --bs-gray-900: #060c17;
  --bs-primary: #029e9d;
  --bs-secondary: #7987a1;
  --bs-success: #05a34a;
  --bs-info: #66d1d1;
  --bs-warning: #fbbc06;
  --bs-danger: #ff3366;
  --bs-light: #e9ecef;
  --bs-dark: #060c17;
  --bs-primary-rgb: 101, 113, 255;
  --bs-secondary-rgb: 121, 135, 161;
  --bs-success-rgb: 5, 163, 74;
  --bs-info-rgb: 102, 209, 209;
  --bs-warning-rgb: 251, 188, 6;
  --bs-danger-rgb: 255, 51, 102;
  --bs-light-rgb: 233, 236, 239;
  --bs-dark-rgb: 6, 12, 23;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 0, 0, 0;
  --bs-body-bg-rgb: 249, 250, 251;
  --bs-font-sans-serif: "Roboto", Helvetica, sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 0.875rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #232323;
  --bs-body-bg: #f9fafb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.table,
.datepicker table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #232323;
  --bs-table-striped-bg: #e9ecef;
  --bs-table-active-color: #232323;
  --bs-table-active-bg: #dee2e6;
  --bs-table-hover-color: #232323;
  --bs-table-hover-bg: #e9ecef;
  width: 100%;
  margin-bottom: 1rem;
  color: #232323;
  vertical-align: top;
  border-color: #e9ecef;
  white-space: nowrap;
}

.table > :not(caption) > * > *,
.datepicker table > :not(caption) > * > * {
  padding: 0.85rem 0.85rem;
}

.table > tbody,
.datepicker table > tbody {
  vertical-align: inherit;
}

.table > thead,
.datepicker table > thead {
  vertical-align: bottom;
}

.table > :not(:first-child),
.datepicker table > :not(:first-child) {
  border-top: 2px solid #e9ecef;
}

.table,
.datepicker table {
  margin-bottom: 0;
}

.table > :not(:last-child) > :last-child > *,
.datepicker table > :not(:last-child) > :last-child > * {
  border-bottom-color: inherit;
}

.table Table th,
.datepicker table thead th {
  border-top: 0;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #232323;
}

.table thead th i,
.datepicker table thead th i {
  margin-left: 0.325rem;
}

.table td img,
.datepicker table td img {
  width: 100%;
  border-radius: 5px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.notification-circle {
  width: 10px;
  height: 10px;
  background-color: rgb(28, 161, 121);
  border-radius: 50%;
  position: absolute;
  top: 20px;
  margin-left: 11px;
  transform: scale(1);
  box-shadow: 0 0 0 0 rgb(43, 192, 147, 1);
  animation: pulse-green 1s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.7);
    box-shadow: 0 0 0 0 rgb(43, 192, 147, 0.25);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgb(43, 192, 147, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .notification-circle {
    top: 20px;
    margin-left: 10px;
  }
}

.bullet-list {
  list-style-type: circle;
  padding-left: 22px;
  padding-bottom: 15px;
  padding-right: 15px;
}

.bullet-list li:hover,
li:hover {
  color: #029e9d;
  list-style-type: disc;
}

.bullet-list li a {
  color: black;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  color: #029e9d;
}

.green-radio input[type="radio"] {
  appearance: none;

  width: 18px;
  height: 18px;
  border: 1px solid #9b9595;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgb(204, 202, 202, 0.1), inset 0 0 0 3px white;
  transition: 0.3s;
  cursor: pointer;
}

.green-radio input[type="radio"]:checked {
  background-color: #029e9d;
  padding: 4px;
}

.content::-webkit-scrollbar {
  display: none;
}

th {
  position: sticky;
  top: 0;
  z-index: auto;
  background-color: white;
}

.Table-container::-webkit-scrollbar {
  width: 3px;
  height: 3px;

  transform: scaleY(0.5);
}

.Table-container::-webkit-scrollbar-thumb {
  background-color: #949393;
}

.Table-container::-webkit-scrollbar-track {
  background-color: #e7e2e2;
}

li {
  padding-left: 15px;
}

.active-page {
  background-color: hsl(180, 48%, 35%);
  color: white;
}

.formshadow {
  box-shadow: 0px 0px 4px 2px rgba(194, 191, 191, 0.1);
}

select option {
  background: #ffffff;
  color: #000000;
  height: 30px;
}

select option:hover {
  background: #029e9d !important;
  color: #ffffff;
}

select option:checked {
  background: #029e9d;
  color: #ffffff;
}

.custom-file-input-button,
.custom-file-input-button2 {
  background-color: hsl(0, 13%, 95%);
  color: rgb(22, 21, 21);
  padding: 10px 10px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  top: -36px;
  left: 3px;
}

.custom-file-input-button:hover,
.custom-file-input-button2:hover {
  background-color: rgb(233, 236, 239);
}
.custom-file-input-button2 {
  left: 1px;
  padding: 10px 7px;
}

select {
  &:focus,
  &:focus-within {
    outline: none;
  }

  &:focus option:hover {
    background-color: #1ed6ae;
  }
}
.homepage {
  list-style-type: none;
}
.homepage li:hover {
  list-style-type: none;
}

.dropdown,
.dropdown1,
.dropdown2,
.dropdown3,
.dropdown4 {
  position: relative;
  top: -40px;
  left: 340px;
}

.dropdown li:hover,
.dropdown1 li:hover,
.dropdown2 li:hover,
.dropdown3 li:hover,
.dropdown4 li:hover {
  background-color: #029e9d;
  color: white;
}
.dropdown1 {
  top: -218px;
  left: 453px;
  margin-right: 40px;
}
.dropdown2 {
  top: -180px;
  left: 453px;
}
.dropdown3 {
  top: -130px;
  left: 453px;
}
.dropdown4 {
  left: 430px;
  margin-right: 40px;
}

.homedropdown li,
.homedropdown button {
  border-bottom: 1px solid rgb(37, 37, 37);
  display: flex;
  align-items: flex-start;
  padding-left: 15px;
  padding-right: 15px;
}
.homedropdown li {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.homedropdown li:hover {
  color: rgb(69, 81, 97);
}
.homedropdown button {
  display: flex;
  justify-content: space-between;
}
.dropdownbox {
  height: 250px;
  overflow-y: scroll;
}

.inputcontainer:focus {
  padding: 3rem 2rem;
}

.list ul {
  list-style-type: none;
}
.list ul li:hover {
  list-style-type: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(2, 158, 157);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color: white;
  padding: 1rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}
table th,
td {
  padding: 20px 10px;
  text-align: start;
  border-bottom: 1px solid rgb(233, 230, 230);
}

tr:nth-child(even) {
  background-color: #fbfbfb;
}
.image {
  height: 130px;
  width: 150px;
  border-radius: 10%;
}
