@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
:root {
  --custom-text-color: #029e9d;
  --bs-font-sans-serif: "Roboto", Helvetica, sans-serif !important;
}

.text-custom-color {
  color: var(--custom-text-color);
}
.__className_e66fe9 {
  font-family: "Roboto", Helvetica, sans-serif !important;
  font-style: normal;
  font-weight: 300 !important;
  font-size: 14px !important;
  color: #232323 !important;
  line-height: 21px !important;
  letter-spacing: 0px !important
;
}
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #7987a1;
  --bs-gray-dark: #212a3a;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #cbd1db;
  --bs-gray-500: #aeb7c5;
  --bs-gray-600: #7987a1;
  --bs-gray-700: #41516c;
  --bs-gray-800: #212a3a;
  --bs-gray-900: #060c17;
  --bs-primary: #029e9d;
  --bs-secondary: #7987a1;
  --bs-success: #05a34a;
  --bs-info: #66d1d1;
  --bs-warning: #fbbc06;
  --bs-danger: #ff3366;
  --bs-light: #e9ecef;
  --bs-dark: #060c17;
  --bs-primary-rgb: 101, 113, 255;
  --bs-secondary-rgb: 121, 135, 161;
  --bs-success-rgb: 5, 163, 74;
  --bs-info-rgb: 102, 209, 209;
  --bs-warning-rgb: 251, 188, 6;
  --bs-danger-rgb: 255, 51, 102;
  --bs-light-rgb: 233, 236, 239;
  --bs-dark-rgb: 6, 12, 23;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 0, 0, 0;
  --bs-body-bg-rgb: 249, 250, 251;
  --bs-font-sans-serif: "Roboto", Helvetica, sans-serif;

  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 0.875rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #232323;
  --bs-body-bg: #f9fafb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.table,
.datepicker table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #232323;
  --bs-table-striped-bg: #e9ecef;
  --bs-table-active-color: #232323;
  --bs-table-active-bg: #dee2e6;
  --bs-table-hover-color: #232323;
  --bs-table-hover-bg: #e9ecef;
  width: 100%;
  margin-bottom: 1rem;
  color: #232323;
  vertical-align: top;
  border-color: #e9ecef;
  white-space: nowrap;
}

.table > :not(caption) > * > *,
.datepicker table > :not(caption) > * > * {
  padding: 0.75rem 1.5rem;
  line-height: 2;
  letter-spacing: -2;
}

.table > tbody,
.datepicker table > tbody {
  vertical-align: inherit;
}

.table > thead,
.datepicker table > thead {
  vertical-align: bottom;
}

.table > :not(:first-child),
.datepicker table > :not(:first-child) {
  border-top: 2px solid #e9ecef;
}

.table,
.datepicker table {
  margin-bottom: 0;
}

.table > :not(:last-child) > :last-child > *,
.datepicker table > :not(:last-child) > :last-child > * {
  border-bottom-color: inherit;
}

.table th {
  border-top: 0;
  font-weight: 400 !important;
  font-size: 14px !important;
  text-transform: uppercase;
  color: #232323 !important;
  line-height: 2;
  letter-spacing: -1px !important;
}

.table thead th i,
.datepicker table thead th i {
  margin-left: 0.325rem;
}

.table td img,
.datepicker table td img {
  width: 100%;
  border-radius: 5px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.notification-circle {
  width: 8px;
  height: 8px;
  background-color: rgb(28, 161, 121);
  border-radius: 50%;
  position: absolute;
  top: 20px;
  margin-left: 11px;
  transform: scale(1);
  box-shadow: 0 0 0 0 rgb(43, 200, 147, 1);
  animation: pulse-green 1s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.7);
    box-shadow: 0 0 0 0 rgb(43, 192, 147, 0.25);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgb(43, 192, 147, 0.4);
  }

  100% {
    transform: scale(1.3);
    box-shadow: 0 0 0 3px rgba(255, 82, 82, 0);
  }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .notification-circle {
    top: 18px;
    margin-left: 10px;
  }
}
.list-part {
  list-style-type: circle;
  font-size: 14px !important;
  padding-left: 23px;
}
.list-part li {
  padding-left: 7px;
}

.list-part li:hover {
  color: #029e9d;
  list-style-type: disc;
  font-family: "Roboto", Helvetica, sans-serif !important;
  font-weight: 300 !important;
}
.userdetails li {
  list-style-type: none;
  padding-left: 10px;
}
.userdetails li:hover {
  background-color: #05a34a;
}

.bullet-list {
  list-style-type: circle;
  padding-left: 22px;
  padding-bottom: 15px;
  padding-right: 15px;
}

.bullet-list li:hover {
  color: #029e9d;
  list-style-type: disc;
}

.bullet-list li a {
  color: black;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  color: #029e9d;
}

.green-radio input[type="radio"] {
  appearance: none;

  width: 18px;
  height: 18px;
  border: 1px solid #9b9595;
  border-radius: 50%;
  box-shadow:
    0 0 0 1px rgb(204, 202, 202, 0.1),
    inset 0 0 0 3px white;
  transition: 0.3s;
  cursor: pointer;
}

.green-radio input[type="radio"]:checked {
  background-color: white;
  border: none;
  box-shadow: inset 0 0 0 5px #029e9d;
}

.content::-webkit-scrollbar {
  display: none;
}

.table th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  font-family: "Roboto", Helvetica, sans-serif !important;
  font-weight: 550 !important;
  font-size: 14px !important;

  line-height: 21px !important;
  letter-spacing: -0.3px !important;
}

.Table-container::-webkit-scrollbar {
  width: 3px;
  height: 3px;

  transform: scaleY(0.5);
}

.Table-container::-webkit-scrollbar-thumb {
  background-color: #949393;
}

.Table-container::-webkit-scrollbar-track {
  background-color: #e7e2e2;
}

li {
  padding-left: 15px;
}

.active-page {
  background-color: #029e9d;
  color: white;
}

.formshadow {
  box-shadow: 0px 0px 4px 2px rgba(194, 191, 191, 0.1);
}

.custom-file-input-button,
.custom-file-input-button2 {

  background-color: #f8f9fa;
  border-right: 1px solid #f0f1f1;
  color: #232323;
  padding: 10px 10px 13px 10px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  top: -36px;
  left: 3px;
}
.custom-file-input {
  position: relative;
  overflow: hidden;
}
.cursor-not-allowed{
  cursor:unset !important;
}

.custom-file-input input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.custom-file-input-button:hover,
.custom-file-input-button2:hover {
  background-color:#c3c2c4 ;
}
.custom-file-input-button2 {
  left: 1px;
  padding: 10px 7px;
}

select {
  &:focus,
  &:focus-within {
    outline: none;
  }

}
.homepage {
  list-style-type: none;
}
.homepage li:hover {
  list-style-type: none;
}

.dropdown,
.dropdown1,
.dropdown2,
.dropdown3,
.dropdown4 {
  position: relative;
  top: -40px;
  left: 340px;
}

.dropdown li:hover,
.dropdown1 li:hover,
.dropdown2 li:hover,
.dropdown3 li:hover,
.dropdown4 li:hover {
  background-color: #029e9d;
  color: white;
  list-style: none;
}
.dropdown1 {
  top: -218px;
  left: 453px;
  margin-right: 40px;
}
.dropdown2 {
  top: -180px;
  left: 453px;
}
.dropdown3 {
  top: -130px;
  left: 453px;
}
.dropdown4 {
  left: 430px;
  margin-right: 40px;
}

.homedropdown li,
.homedropdown button {
  border-bottom: 1px solid rgb(37, 37, 37);
  display: flex;
  align-items: flex-start;
  padding-left: 15px;
  padding-right: 15px;
}
.homedropdown li {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.homedropdown li:hover {
  color: rgb(69, 81, 97);
}
.homedropdown button {
  display: flex;
  justify-content: space-between;
}
.dropdownbox {
  height: 200px;
  overflow-y: auto;
  transition: height 2s;
}

.inputcontainer:focus {
  padding: 3rem 2rem;
}

.list ul {
  list-style-type: none;
}
.list ul li:hover {
  list-style-type: none;
}
.switch {
  z-index: 0;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(2, 158, 157);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color: white;
  padding: 1rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}
table th,
td {
  padding: 20px 10px;
  text-align: start;
  border-bottom: 1px solid rgb(233, 230, 230);
}

tr:nth-child(even) {
  background-color: #fbfbfb;
}
.image {
  height: 130px;
  width: 150px;
  border-radius: 10%;
}

html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #fdc703;
  font-size: 2px !important;
  border-radius: 50%;
  font-weight: 600 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  color: green;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #212a3a;
  color: white;
  font-size: small;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "prev";
  color: #fff;
  font-size: 15px !important;

  font-weight: 600 !important;
}

.bgimgcolor {
  filter: brightness(50%);
}
.bgimgcolor:hover {
  transition: 0.5s;
  -webkit-transform: scale(1.08);
  transform: scale(1.1);

  overflow: hidden;
}
.packageimage {
  filter: brightness(100%);
}
#container1 {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 2vh;
}

.name1 {
  font-size: 24px;
  font-weight: 600;

  margin-top: 16px;
}
.BooknowImagePart {
  background-image: url(../public/booknowpageimg.jpg);
  background-repeat: no-repeat;
  width: auto;
  background-size: cover;
  z-index: -1;
  filter: brightness(50%);
}
.hover-button {
  display: block;
  background: linear-gradient(to right, #fdc703 50%, #363333 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
}
.hover-button:hover {
  background-position: left bottom;
}
.booking {
  display: block;
  background: linear-gradient(to right, #fdc703 50%, #029e9d 50%);
  background-size: 204% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
.booking:hover {
  background-position: left bottom;
}
.Videopart {
  background-image: url(../public/videopartimg.png);
  background-repeat: no-repeat;

  background-size: cover;

  filter: brightness(100%);
  background-position: 40% center;
}
.spinner-wrap {
  position: relative;
  margin-top: 20px;
  z-index: -1;
}

.spinner-item {
  border: 4px solid rgb(255, 217, 0);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: zoom 2s linear 0.1s infinite;
}

.spinner-item--2 {
  animation-delay: 1.25s;
}

.spinner-item--3 {
  animation-delay: 1.75s;
}

@keyframes zoom {
  0% {
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

.SliderPart {
  z-index: 5;
}

.zoom-effect-container {
  float: left;
  position: relative;

  overflow: hidden;
}
.card-sheet {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

.card:hover {
  background: linear-gradient(#fff, #fff 50%, #029e9d 50%, #029e9d);
  background-size: 100% 200%;
}
.destination-card {
  transition: transform 0.5s ease;
}

.destination-card:hover {
  transform: scale(1.2);
  filter: brightness(90%);
}
.card-destination {
  background: linear-gradient(#029e9d 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0em);
  transition:
    0.4s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
}
.card-destination:hover {
  --p: 100%;
  --t: 0.3s;
  color: #fff !important;
  font-display: var(--bs-white) z;
}
.package-card {
  background: linear-gradient(#1095c1 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.1em);
}
.package-card:hover {
  --p: 100%;
  --t: 0.3s;
  color: #fff;
}

.card-hover {
  float: left;
  box-sizing: border-box;
  transition: 0.5s all ease-in;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}
.card-hover:before {
  position: absolute;
  bottom: 0;
  background: #029e9d;
  height: 3px;
  display: block;
  content: "";
  width: 0;
  transition: 0.5s all ease-in;
  border-radius: 10px;
}
.card-hover:hover:before {
  width: 100%;
}
.btn-fromLeft:before {
  bottom: 0;
  left: 0;
}

.travel-perfection {
  background-image: url(../public/travelperfection2imagepart.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-color: rgba(255, 255, 255, 0.356);

  filter: brightness(96.5%);
  background-position: 50% center;
}
.Destination-background {
  background-image: url(../public/bgshape.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  filter: brightness(97%);
  background-position: 50% center;
}
.last-minute-deals {
  background-image: url(../public/IMAGE\ for\ lastminutedeals.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  filter: brightness(99%);
  background-color: WHITE;
}
.lastminuteimg-hover img {
  position: relative;
}
.lastminuteimg-hover:hover > div > img:first-child {
  transition: 0.5s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  filter: brightness(90%);
}
.outerbox-image:hover {
  overflow: hidden;
}

.hoveredCard:hover {
  color: white;
}
.getToKnowUs {
  background-image: url(../public/backgroundimage.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  filter: brightness(100%);
  background-position: 90%;
}
.tour-guide {
  position: relative;
  transition: transform 0.3s ease;
}
.tour-guide:hover {
  transform: translateY(-15px);
}
.tour-guides-image {
  position: relative;
  transition: transform 0;
}
.tour-guides-image:hover {
  transform: scale(1.1);
}
.tour-outer:hover {
  overflow: hidden;
  bottom: -15%;
}
.tour-guide:hover ~ .tour-guides-image {
  transform: translateY(-15px) scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #430fde;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.lastminuteimg-hover:hover .outerbox-image img {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.lastminuteimg-hover .outerbox-image img.image-hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}
.outerbox-image {
  overflow: hidden;
}
.offersimage {
  position: relative;
  overflow: hidden;
  transition: filter 0.3s ease;
}

.offersimage:hover {
  filter: brightness(80%);
  transform-origin: bottom;
}
.hovering-button {
  display: block;
  background: linear-gradient(to right, #fdc703 50%, #029e9d 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
}
.hovering-button:hover {
  background-position: left bottom;
}

.static-reviews {
  height: 16px;
  display: flex;
}

.filled-section {
  background-color: #029e9d;
}

.unfilled-section {
  background-color: #e9ecef;
}

.hoveredCard:hover .text-custom-color,
.hoveredCard:hover .text-black,
.hoveredCard:hover .text-gray-500 {
  color: white !important;
}

.triangle-outline {
  position: absolute;
  top: -6px;
  right: 25px;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  z-index: 10;
  background-color: white;
  border-left: 1px solid rgb(233, 231, 231);
  border-top: 1px solid rgb(233, 231, 231);
  box-shadow: gray;
}

.custom-ul {
  padding-left: 10px;
  list-style: none;
}

.custom-ul li {
  padding-left: 10px;
  transition: background-color 0.3s ease;
}

.custom-ul li:hover {
  background-color: hsl(230, 100%, 94%);
}

.custom-ul li:hover .iconuser,
.order-fullbox:hover .order-head {
  color: #029e9d;
}

.custom-ul li:hover .userdetail {
  color: #232323;
}
.custom-ul li .iconuser,
.order-time {
  color: #7987a1;
}

.hovered-icon {
  color: #029e9d;
}
.order-fullbox:hover {
  background-color: hsl(230, 100%, 94%);
}

::marker {
  font-size: 18px;
  color: #7987a1;
}
.list-part li:hover::marker {

  font-size: 19px;
  list-style-type: disc;
  color: #029e9d;
  position: fixed;
 
}
.rotate-180 {
  transform: rotate(180deg);
}

.nav-button {
  font-family: "Roboto", Helvetica, sans-serif !important;
  font-weight: 300 !important;
  font-size: 14px !important;

  line-height: 21px !important;
  letter-spacing: -0.3px !important;
}
.active-list {
  color: #029e9d;
  list-style-type: disc;
}
.active-list::marker {
  font-size: 19px;
  color: #029e9d;
}
.active-section {
  background-color: #029e9d;
}
.text-white {
  color: #ffffff;
}
.nav-img-icon {
  transition: transform 2s ease;
}

.scale-hover {
  transition:
    transform 0.3s ease-in-out,
    width 0.3s ease-in-out;
  transform: scale(1);
  width: 72px;
}

.scale-hover:hover {
  transform: scale(1.5);
  width: 108px;
}

.custom-dropdown option:hover {
  background-color: #029e9d !important;
}

.navbar-transition:hover {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 0.5s ease,
    transform 5s ease;
}
